# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
#*#
*.orig
.data
.stash 
coverage
logs

*.old
#*#
.cache
~*
# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
logs
npm-debug.log
node_modules
build-info.txt
coverage
.stash
.data
